/*Removes default on the body-tag*/
body{
    margin:0;
    height:auto;
    width:auto;
    background-color: #AD8CFF;
}

nav{
  height:75px;
  width:inherit;
  background: linear-gradient(to right, pink ,lightblue, pink, lightblue);
  border:7.5px solid black;
  padding-left: 20%;
}
.header{
  width:50%;
  float:left;
  font-family:Papyrus;
}

section{
  height:inherit;
  width: 75%;
  border: 7.5px solid pink;
  margin-left:12.5%;
  margin-top:8%;
  background-color: #C774E8;
}
.list{
  font-family:Papyrus;
  font-size: 48;


}
.articles{
  width:auto;
  height:33%;
  padding: 2%;
}
#first{
  background: linear-gradient(to right, #fac0aa, lightblue, #fac0aa, lightblue);
}
#second{
  background: linear-gradient(to right,lightblue,#fefe66, lightblue, #fefe66);
}
#third{
  background: linear-gradient(to right, #fefec4, lightblue, #fefec4, lightblue);
}
